{{- $imgs := $.Site.Data.gallery.image -}}

{{ if $imgs }}

  {{- $columns := 3 -}}
  {{- $len := len $imgs -}}
  {{- $maxImgs := (add (int (div $len $columns)) 1) -}}

  <section class="thumbnails">
    {{ range $i, $val := (seq $columns) }}
      <div>
        {{- $.Scratch.Set "imgSet" $imgs -}}
        {{ if gt $i 0 }}
          {{- $.Scratch.Set "imgSet" (after (mul $i $maxImgs) $imgs) -}}
        {{ end }}
        {{- range first $maxImgs ($.Scratch.Get "imgSet") }}
          <a href="{{ .full | relURL }}">
            <img src="{{ .thumb | relURL }}" alt="{{ .caption }}" />
            <h3>{{ .caption }}</h3>
          </a>
        {{- end }}
      </div>
    {{ end }}
  </section>

{{ end }}
