<header id="header">
  {{ if .Site.Params.header.avatar }}<span class="avatar"><img src="{{ .Site.Params.header.avatar | relURL }}" alt="{{ .Site.Title }}" /></span>{{ end }}
  {{ with .Site.Params.header.intro }}<h1>{{ . | markdownify }}</h1>{{ end }}

  {{ if .Site.Params.social }}
    <ul class="icons">
      {{ range .Site.Params.social }}
        <li><a href="{{ .url }}" class="icon style2 {{ .icon }}"><span class="label">{{ .label }}</span></a></li>
      {{ end }}
    </ul>
  {{ end }}
</header>
