<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<title>{{ .Title }}</title>

<link href="{{ .Permalink }}" rel="canonical" />

<link rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/main.css" />

<!-- Google Analytics -->
{{ if and (.Site.GoogleAnalytics) (not (in (printf "%#v" .Site.BaseURL) "localhost")) }}
  {{ template "_internal/google_analytics.html" . }}
{{ end }}
